---
title: "Earning Innovation and Competency points through verification"
sidebar_label: Verification
---

The RadGrad points and levels game mechanics wouldn't be very compelling if students could simply self-assert that they've completed Courses and Opportunities. In that case, everyone would quickly become a Level 6 Ninja.

To make points and levels meaningful, the student's degree experience activities must be verified.

For Courses, it's easy: RadGrad uses scripts to access the institution's enrollment data about students in the system, and update their profile with their completed courses. So, competency points are verified automatically by running a script once a semester.

For Opportunities, verification must be done manually: there is no central database that can be consulted to determine, for example, if a student has attended a hackathon.

The Verification Page allows students to "request verification" for an Opportunity that they have put in their Degree Plan and subsequently completed.  When requesting verification, the student submits a short explanation for what they did (or any other desired information to satisfy the reviewer).  This request is routed to RadGrad Administrators, who can either accept the verification, or reject it and ask the student for more information.

Here's what the verification page looks like for Dora:

![](/img/user-guide/demo/verification.png)

:::tip Demo Dive
While you could "Request Verification" for the unverified Opportunity, it wouldn't have any immediate effect.  To experience the full workflow, you would need to:

1. Request verification as Dora.
2. Logout of the system.
3. Log back in as an Advisor or Administrator.
4. Go to the "Manage Verifications" page, available only to Advisors and Administrators.
5. Accept or reject the Verification Request by Dora.
6. Logout.
7. Log back in as Dora. You should now see an update ICE score (if you accepted the verification request.)

Undoing this state change for the next demo user is not trivial, so only do this if you really want to check it out.

<hr/>
(Problems with this page? Email radgrad@hawaii.edu to let us know.)
:::




